@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 200vh;
}

.container {
  background-color: black;
  color: white;
}
/* <!-- navbar start --> */
.navbar {
  background-color: black;
  color: white;
  height: 60px;
  position: sticky;
  top: 0;
}

.logo-wrapper img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item:hover {
  font-weight: bold;
}

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.porfile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1px;
}
.toggle {
  width: 40px;
  background-color: white;
  height: 20px;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}

/* <!-- navbar end --> */
/* <!-- sidebar start --> */

.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding-top: 60px;
  position: fixed;
  top: 0;
}
.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/*  sidebar end*/

/* featured content start */

.content-wrapper {
  margin-left: 50px;
}

.featured-content {
  background: url("img/spiderman.jpg");
  padding: 50px;
  height: calc(100vh - 160px);
  background-size: 100% 100%;
}

.featured-title {
  width: 400px;
}

.featured-desc {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 30px 0;
}

.featured-button {
  display: flex;
  column-gap: 20px;
}

.featured-button button {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  outline: none;
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.featured-button .info-button {
  background-color: rgb(145, 142, 142, 0.5);
  color: white;
}
/* featured content start*/

/* filter start */

.movie-list-filter {
  margin: 20px 0 20px 50px;
  padding: 20px;
}

.movie-list-filter select {
  background-color: black;
  color: white;
  padding: 7px 0;
  width: 125px;
}

/* filter end */
